<center><h1>OurPlanet&trade;</h1>
  <% if current_member %>
    <%= "#{current_member.full_name}" %>
  <% else %>
    <%= 'You should <a href="/login">log in</a> now!' %>
  <% end %>
  <h3>This will be the feed for a user who is logged in</h3>
  <% if current_member %>
    <a href = "/logout">Log me out!</a>
  <% end %>
</center>
