<html>
<head>
<link href="/style.css" rel="stylesheet">
<title><%= title %></title>
</head>
<body>
  <%= yield %>
</body>
<footer>  
  <div style="position:relative;width:0px;height:0px;overflow:hidden;">
    <div style="position:absolute;top:-276px;left:-5px">
      <iframe width="300" height="300" 
        src="//www.youtube.com/embed/Sds5SpNd1Mw?autoplay=1">
      </iframe>
    </div>
  </div>
   <br> 
</footer>
</html>
