<h3> Login page</h3>

<form action="/login" method="post">
Email:
<input id="email" type="text" name="email"><br>
Password:
<input id="password" type="password" name="password"><br>
<input type="submit" value="Login">
</form>
