<h3> Login page</h3>

<form action="/login" method="post">

  <label for="email">Email:</label>
  <input id="email" type="text" name="email"><br>

  <label for="password">Password:</label>
  <input id="password" type="password" name="password"><br>

  <input type="submit" value="Login">

  <p>Don't have an account? <a href="/member/new">Sign up!</a></p>
</form>
