<div id="landing">

  <h2>Welcome to Bruno's World&trade;!</h2>

<% if flash[:error] %>  
    <p class="error"><%= flash[:error] %>  
<% end %>  

  <div id="login">
    <form action="/login" method="post">

      <label for="email">Email:</label>
      <input id="email" type="text" name="email"><br>

      <label for="password">Password:</label>
      <input id="password" type="password" name="password"><br>
      
      <p align=center>
      <input id="submit" type="submit" value="Login">
      </p>

      <p align=center>Don't have an account?<br>
      <a href="/member/new">Become a Bruno Man</a></p>
    </form>
  </div>
</div>
