<h3> Login page</h3>

<form action="/login" method="post">
Username:
<input id="name" type="text" name="username"><br>
Password:
<input id="password" type="password" name="password"><br>
<input type="submit" value="Login">
</form>
