<div id="landing">
  <h3> Become a Bruno Man here! </h3>
  <div id="login">
    <form action="/member/create" method="post">
      <label for="firstname">First name:</label>
      <input id="firstname" type="text" name="first_name"><br>

      <label for="lastname">Last name:</label>
      <input id="lastname" type="text" name="last_name"><br>

      <label for="email">Email:</label>
      <input id="email" type="text" name="email"><br>

      <label for="password">Password:</label>
      <input id="password" type="password" name="password"><br>

      <p align=center>
      <input type="submit" value="Take my soul!">
      </p>
    </form>
  </div>
</div>
