<h3> Signup here! </h3>
<form action="/member/create" method="post">
<table border=0>
  <tr>
    <td>First name:</td>
    <td><input id="firstname" type="text" name="first_name"></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><input id="lastname" type="text" name="last_name"></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input id="email" type="text" name="email"></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input id="password" type="password" name="password"></td>
  </tr>
</table>
<input type="submit" value="Take my soul!">
</form>
